.link {
	stroke: #999;
	stroke-opacity: .6;
}

#zoom{
    position:absolute;
    float:right;
    z-index: 100;
}

.row{
    position:relative;
}
.linkWrapper {
	stroke: #999;
	stroke-opacity: .6;
}

.oldLinkWrapper {
	stroke: #999;
	stroke-opacity: .6;
}

.oldLink {
	stroke: #999;
	stroke-opacity: .6;
}

.ncircle {
	fill: white;
	/*stroke: rgba(188, 206, 226, 1);*/
}

.hip {
    stroke: rgb(204, 214, 224);
}

.pop {
    stroke: rgb(224, 204, 224);
}

.rock {
    stroke: rgb(235, 214, 204)
}

.electronic {
    stroke: rgb(204, 214, 204);
}

.classical {
    stroke: rgb(204, 204, 224);
}

.country {
    stroke: rgb(224, 214, 204)
}

.funk {
    stroke: rgb(235, 214, 214) ;
}

.jazz {
    stroke: rgb(224, 204, 224);
}

.latin {
    stroke: rgb(245, 214, 204);
}

.reggae {
    stroke: rgb(214, 235, 224);
}

.null {
    stroke: lightgrey;
}

.None {
    stroke: lightgrey;
}

.navbar-top{
    background-color: transparent;
    background: transparent;
    margin:0;
    border-color:transparent;
    height:32px;
}

.navbar {
    height:32px;
    margin:0px;
}

#svg {
    position: relative;
    z-index: 1;
}
.dropdown-menu{
    min-width: 0px;
}

#urlMenu{
    width:200px;
}

#service-choice.dropdown-menu > li > a {
    padding-left:0px;
    padding-right:0px;
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    height: 200px;
    overflow-y: scroll;   
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

.artistImage {
	max-width: 180px; 
	max-height: 240px;
	border-width: 3px;
	border-color: black;
	align: middle;	
}
  
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	text-align: center;
	margin: 20px
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
border: none;
}

.searchLabel{
    color:grey;
    font-weight: normal;
}
.graphArrows{
    position:absolute; 
    left:20px; 
    top:50px;
}


#map{
    padding-right:0px;
    border-color:black;
    border-width: 1px;
}


text {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#logo{
    font-color: white;
}

#bio{
    overflow: scroll;
    margin:15px;
}
#sidebar{
    border-left-style:solid;
    border-width: 1px;
    border-color:#e7e7e7;
    display:block;
    overflow:scroll;
    padding-left: 0;
    padding-right: 15px;
}

#sideBarTitle{
    text-align: center;
}

.tableWrapper{
    border:none;
}
.btn-sidebar{
    background:transparent;
    padding:0;
    border:none;
    color:black;
}
.disabled{
    color:grey;
}
.searchOptions{
    min-width: none;
}

#searchBar{
    margin-right: 0px;
    padding-right:0px;
}

#navbar-top-left{
    margin:0px;
}

#searchDropdown{
    vertical-align: center;
}

.topDropdown{
    background-color:transparent;
    border:none;
    background:transparent;
    box-shadow: none;
    margin:0;
}

.top-dropdown-right{
    background-color:#e7e7e7;
    border:none;
    box-shadow:none;
    padding:3px;
    width:300px;
}

#bottomNav{

}
#bottomLeftNav{
    width:70vw;
}

