<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<title>phonograph</title>

<!-- Bootstrap -->
<link href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet"> 
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-table.css') }}">


<!-- Jquery D3 Scripts-->
<script src="{{ url_for('static', filename='d3.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery-2.1.3.js') }}"></script>

<!--Jquery-UI-->
<link href="{{ url_for('static', filename='jquery/jquery-ui.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='jquery/jquery-ui.structure.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='jquery/jquery-ui.theme.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='jquery/jquery-ui.js') }}"></script>
<link href="{{ url_for('static', filename='bootstrap/elusive-icons-master/css/elusive-icons.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='bootstrap/font-awesome-4.3.0/css/font-awesome.min.css') }}" rel="stylesheet">

<!-- ICOMOON FOR RADIO ICON -->
<link rel="stylesheet" href="{{ url_for('static', filename='images/icomoon/icomoon.css') }}">

<!--PHONOGRAPH CSS-->
<link href="{{ url_for('static', filename='flat.css') }}" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<body>


<section id="app">
	<div class="row">
		<!--
		<div class="btn-group-vertical" id="zoom">
				<button id="zoomIn" type="button" disabled class="btn btn-disabled btn-sm zi"><span class="el el-plus"></span></button>
				
				<button id="zoomL1" type="button" class="btn btn-primary btn-sm zL"></button>
				<button id="zoomL2" type="button" class="btn btn-default btn-sm zL"></button>
				<button id="zoomL3" type="button" class="btn btn-default btn-sm zL"></button>

			 	<button id="zoomOut" type="button" class="btn btn-default btn-sm zo"><span class="el el-minus"></span></button>
		</div>
	-->
		<div id="map" class="col-xs-9">
		<nav class="navbar navbar-default navbar-top">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		     <a class="navbar-brand" href="#"> <i id="logo" class="el el-network"></i> phonograph.fm <sup>&beta;</sup> </a>
		    </div>
		    <div class="navbar navbar-left" id="navbar-top-left">
		    	<form class="navbar-form navbar-left" role="search" id="searchBar">
		    		<div class="input-group">
		    			<div class="input-group-btn">
		    				<button class="dropdown-toggle btn btn-default" href="#" data-toggle="dropdown" id="searchType"><i class="fa fa-user"></i></span><span class="caret"></span></button>
		    				<ul class="dropdown-menu topDropdown" role="menu"> 			    
		    					<li><a class="search-choice" id="search-choice-artist"><i class="fa fa-user"></i></a></li>
		    					<li><a class="search-choice" id="search-choice-path"><i class="fa fa-road"></i></a></li>
		    					<li><a class="search-choice" id="search-choice-term"><i class="fa fa-users"></i></a></li>
		    				</ul>
		    			</div>
		    			<input href="#" class="form-control autocomplete artist" placeholder="Search by Artist" id="searchAutoComplete">
		    			<input href="#" class="form-control autocomplete" style="display: none;" placeholder="Destination..." id="destination">
		    			<div class="input-group-btn">
		    				<button type="button" id="search-button" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
		    			</div>
		    		</div>
		    	</form>
		    </div>

		    <div class="navbar navbar-right">
		    	<ul class="nav navbar-nav navbar-right">
		    		<li class="dropdown" id="serviceChoice">
			    			<a class="dropdown-toggle" href="#" data-toggle="dropdown" id="service-choice-displayed"><i class="fa fa-youtube fa-lg"></i></span><span class="caret"></span></a>
			    			<ul class="dropdown-menu topDropdown" role="menu"> 			    
								<li><a class="service-choice" id="service-choice-youtube"><i class="fa fa-youtube fa-lg"></i></a></li>
								<li><a class="service-choice" id="service-choice-spotify"><i class="fa fa-spotify fa-lg"></i></a></li>
			    			</ul>
			    	</li>
		    		<!--<li class="dropdown" id="URLshare">
			    			<a class="dropdown-toggle" href="#" data-toggle="dropdown" id="urlShare"><i class="el el-share"></i></span><span class="caret"></span></a>
			    			<ul class="dropdown-menu topDropdown" id="urlMenu" role="menu"> 
			    				<li>
			    					<form class="form"> 
			    						<input id="URL" class="form-control" type="text" placeholder="URL"></input>
			    					</form>
			    				</li>
			    			</ul>
			    	</li>-->
			    	
			    	<!-- SUBGRAPH NOT READY FOR BETA RELEASE -->
			    	<!--<li><a id="subgraphButton" type="button" class="navbar"><i class="fa fa-magic"></i></i></a></li>-->
		    		<li class="dropdown" id="numArtists">
		    			<a class="dropdown-toggle" href="#" data-toggle="dropdown"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
		    			<div class='dropdown-menu top-dropdown-right' id='settings'>
		    				<form class="form-horizontal">
		    					<div class="form-group">
		    						<label class="col-sm-4 control-label">Artists</label>
		    						<div class="col-sm-8">
		    							<select id="ns" class="form-control">
		    								<option value="10">10</option>
		    								<option selected="selected" value="20">20</option>
											<option value="30">30</option>
											<option value="40">40</option>
											<option value="50">50</option>	
		    							</select>
		    						</div>
		    					</div>
		    					<div class="form-group">
		    						<label class="col-sm-4 control-label">Limit to</label>
		    						<div class="col-sm-8">
		    							<select id="genre" class="form-control">
		    								<option value="null">All Genres</option>
		    								<option value="pop">Pop/Club</option>
		    								<option value="rock">Rock</option>
		    								<option value="classical">Classical</option>
		    								<option value="hip hop">Hip Hop</option>
		    								<option value="jazz">Jazz & Blues</option>
		    								<option value="electronic">Electronic</option>
		    								<option value="country">Country</option>
		    								<option value="reggae">Reggae & Ska</option>
		    								<option value="latin">Latin</option>
		    								<option value="funk">R&B, Funk & Soul</option>
		    							</select>
		    						</div>
		    					</div>
		    				</form>
		    			</div> 
		    		</li>

		    	</ul>
		    </div> 
		</nav>
<!--BACK BUTTONS COMMENTED FOR LATER THINKING -->
			<!--<div class="btn-group graphArrows">
					<button type="button" id="graphBack"class="btn btn-default btn-sm"><i class="el el-chevron-left"></i></button>
					<button type="button" id="graphForward" class="btn btn-default btn-sm"><i class="el el-chevron-right"></i></button>
			</div>-->
		</div>
		<!--Sidebar-->
		<div id="sidebar" class="col-xs-3 sidebar">
		<div id="info">
			<!--Main tabs-->
			<div>
			<ul style="display:none;" class="nav nav-pills sideBarTabs" id="sideBarTabs" role="tablist" data-tabs="tabs">
				<li class="active" id="nodeTab"><a class="sidebar-icon" href="#nodePane" role="tab" data-toggle="tab"><i class="fa fa-info"></i></a></li>
				<li style="display: none" id="edgeTab"><a class="sidebar-icon" href="#edgePane" role="tab" data-toggle="tab"><i class="fa fa-info"></i></a></li>
				<!--<li id="radioTab"><a class="sidebar-icon" href="#radioPane" role="tab" data-toggle="tab"><span class="icon-radio"></a></li>-->
			</ul>
			</div>

			<!--Main content-->
			<!-- TITLE WITH BACK BUTTONS -->
			<!--
			<table style="width:100%">
			  <tr>
			    <td align="left"><a href="#" id="sidebarBack" type="button" ><i class="el el-chevron-left sidebarNav"></i></a></td>
			    <td align="center"><h3 id="sideBarTitle">Sample Title</h3></td>		
			    <td align="right"><a href="#" id="sidebarForward" type="button"><i class="el el-chevron-right sidebarNav"></i></a></td>
			  </tr>
			</table>
			-->
			
			<div class="tab-content">

				<!-- Node Tab-->
				<div class="tab-pane active" id="nodePane">
					<h3 class="sidebar-title" id="node-title"></h3>
					<ul class="nav nav-tabs nav-justified" role="tablist" data-tabs="tabs">
					<li class="active" id="bioTab"><a href="#bio" role="tab" data-toggle="tab"> <i class="el el-book"></i></a></li>
					<li id="nodeSpotifyTab" class="spotify"><a href="#nodeSpotify" role="tab" data-toggle="tab"><i class="fa fa-music"></i></i></a></li>
					<li id="nodeYoutubeTab" class="youtube"><a href="#nodeYoutube" data-toggle="tab"><i class="fa fa-music"></i></a></li>
					<li id="twitterTab"><a href="#twitter" role="tab" data-toggle="tab"><i class="el el-twitter"></i></a></li>
					</ul>

					<!-- Node tab panes -->
					<div class="tab-content">
				
						<div id="bio" role="tabpanel" class="tab-pane active">
							<div id="artistImage" style="padding: 12px"></div>
							<p id="bioText"></p>
						</div>
				
						<div role="tabpanel" class="tab-pane" id="twitter"></div>
				
						<div role="tabpanel" class="tab-pane" id="nodeSpotify">
							<div class = "spotify" id="nodeIframe" align="middle" style="margin-top:30px"></div>
						</div>
						
						<!-- Youtube -->
						<div class="tab-pane" id="nodeYoutube">
							
							<div class="tableWrapper noselect" align="middle" style="overflow:auto;"> 
							<table 
								id="nodeYoutubeTable" 								
								class="youtube-table"
								data-show-header="true"
								data-toggle="table"
								data-striped="true"
							>

								<thead>
								<tr>
									<th data-field="name" data-sortable="true">Title</th>
									<th data-field="play" data-width="25%"></th>
									<th data-field="id" data-visible="false"></th>
								</tr>
								</thead>
				        	</table>
				        	</div>
				        
						</div>

					</div>
				</div>

				<!-- Edge Tab -->
				<div class="tab-pane" id="edgePane">
					<h3 class="sidebar-title" id="edge-title"></h3>				

					<!-- Spotify -->
					<div style="display:none;" class="content-spotify" id="edgeSpotify">
					<div class="spotify" id="edgeIframe" align="middle" style="margin-top:30px"></div>
					</div>
					
					<!-- Youtube -->
					<div class="content-youtube" id="edgeYoutube">
						<div class="tableWrapper noselect" align="middle" style="overflow:auto;"> 
						<table 
							class="youtube-table"
							id="edgeYoutubeTable"
							data-show-header="true"
							data-toggle="table"
							data-striped="true"
						>
							<thead>
							<tr>
								<th data-field="artist">Artist</th>
								<th data-field="name" data-sortable="true">Title</th>
								<th data-field="play" data-width="25%"></th>
								<th data-field="id" data-visible="false"></th>
							</tr>
							</thead>
			        	</table>
			        	</div>				        
					</div>

				</div>
			</div>


		</div>



		</div>
			<!-- CUSTOM SUBGRAPH Pane -->
			<!--
			<div id="subgraphPane">
				<h3 style="text-align: center;">Custom Subgraph</h3>
				<div class="tableWrapper noselect" > 
	        	<table id="subgraphTable" align="middle" data-show-header="true" data-striped="true" data-clickToSelect="true" data-height="300">
	        		<thead>
	        		<tr>
	        		    <th data-align="center" data-field="name">Name</th>
	        		    <th data-align="right" data-field="remove"></th>
	        		</tr>
	        		</thead>
	        	</table>
	        	<div class="input-group">
	        		<input href="#" class="form-control autocomplete" placeholder="Artist Name" id="addtoSubgraph">
	        		<div class="input-group-btn">
	        			<button type="button" class="btn btn-default"><i class="fa fa-user-plus"></i></button>
	        		</div>
	        		      	
	        	</div>

	        	<button type="button" id="generateSubgraph" class="btn btn-danger">GENERATE</button>	  
	        	</div>
			</div>-->
		</div>
	</div>
</section>

<nav class="navbar navbar-default navbar-fixed-bottom" id="bottomNav">
  <div id="player-bar" class="container-fluid youtube">
    <div class="navbar-left" id="bottomLeftNav">
      	<ul class="nav navbar-nav">
    		<li class="dropup" id="playlistDropdown">
    			<a class="dropdown-toggle" id="playlistICON" href="#" data-toggle="dropdown"><i class="el el-list"></i></a>
    			<div class='dropdown-menu top-dropdown-right' id='playlistDD'>
    				<form class="form-horizonal">
    					<div class="form-group">
							<h4 class="header" style="text-align: center;">Playlist</h4>
							<div class="tableWrapper noselect content" > 
					        	<table 
					        			id="playlistTable" 								
					        			class="youtube-table"
					        			data-show-header="true"
										data-toggle="table"
										data-striped="true"
									>
					        	    <thead>
					        	    <tr>
					        	    	<th data-field="playing" data-valign="middle"></th>
					        	    	<th data-field="artist">Artist</th>
					        	    	<th data-field="name" data-sortable="true">Title</th>
					        	    	<th data-field="remove" data-valign="middle"></th>
					        	    	<th data-field="id" data-visible="false"></th>
					        	    </tr>
					        	    </thead>
					        	</table>
					        <div class="videoWrapper" align="middle"><div id="player" style="height:1px;"></div></div>
					        </div>
						</div>
		        	</form>
    			</div> 
    		</li>
    		<!--<li class="dropup" id="radioDropdown">
    			<a class="dropdown-toggle" id="radioICON" href="#" data-toggle="dropdown"><span class="icon-radio"></a>
    			<div class='dropdown-menu top-dropdown-right' id='radioDD'>
    				<form class="form-horizonal">
    					<div class="form-group">
    						<h4 id="radio-title"></h4>
    						<div class="well">
								<h6 id="track1" style="text-align: left;"><h6>
								<h5 style="text-align:center;" id="radio-now-playing-name"></h5>
								<h5 style="text-align:center; font-style: italic;" id="radio-now-playing-artists"></h5>
								<button type="button" style="display: none; width: 100%;" id="tuneIn"class="btn btn-warning">Tune In</button>
							</div>
							<div id="upNext">
								<h6 id="track2" style="text-align: left;">Up Next:</h6>
								<h5 style="text-align:center;" id="radio-up-next-name"></h5>
								<h5 style="text-align:center; font-style: italic;" id="radio-up-next-artists"></h5>
							</div>
						</div>
		        	</form>
    			</div> 
    		</li>-->
    	  	<li id="consoleElement"><a id="previous" type="button" class="navbar"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a></li>
    	  	<li><a id="play-pause" type="button" class="navbar"> 
    	  			<span style="display: inline-block;" id="playsong" class="glyphicon glyphicon-play" aria-hidden="true"></span>
    	  			<span style="display: none;" id="pausesong" class="glyphicon glyphicon-pause" aria-hidden="true"></span>
    	  			<span style="display: none;" id="bufferingsong"  class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
    	  		</a>
    	  	</li>
    	  	<li><a id="next" type="button" class="navbar"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a></li>
    	  	<li><p class="navbar-text" id="currentTime">0.00</p></li>
    	  	<li><div id="scrubberSlider" class="nav-bar pull-left" style="margin:15px; margin-top:22px;"></div></li>
    	  	<li><p class="navbar-text" id="duration">0.00</p></li>
    	  	<li class="dropup">
				<a href = "#" class="dropdown-toggle" data-toggle="dropdown" id="volumeButton" class="navbar"><i id="VolMute" class="el el-volume-off"></i><i id="VolDown" class="el el-volume-down"></i><i id="VolUp" class="el el-volume-up"></i></a>
				<ul class="dropdown-menu" id="volumeMenu" role="menu">
					<li>
						<div id="volumeSlider"></div>
					</li>
				</ul>
			</li>
    	</ul>
    </div>

	    <div class="navbar-right" id="INFO">
	      	<ul class="nav navbar-nav">
	    	  	<li><div><p class="navbar-text ellipsis" id="playerTrackInfo"></p></div></li>
	    	</ul>
	    </div>
    </div>
      <div class="container-fluid spotify">
    	    <div class="navbar-right" id="INFO">
    	      	<ul class="nav navbar-nav">
    	    	  	<li><p class="navbar-text">Player Not Yet Available with Spotify</p></div></li>
    	    	</ul>
    	    </div>
        </div>
</nav> 



<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='twttr.js') }}"></script>
<script src="{{ url_for('static', filename='fuzzyset.js') }}"></script>
<script src="{{ url_for('static', filename='MediawikiJS.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap-table.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap-table-en-US.js') }}"></script>
<script src="{{ url_for('static', filename='phonograph.js') }}"></script>
<script src="{{ url_for('static', filename='musicplaybar.js') }}"></script>	

</body>
</html>		